body{
    background-color: beige;
    margin: 0;
  overflow-x: hidden;
}

div{
    background-color: #3498db;
    padding: 100px 10px;
    margin: 25px 35%;
    font-size:25px;
    color: white;
    text-transform:uppercase;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px gray;
   transform: translateX(300%);
   transition: transform 0.4s ease;
}

div:nth-of-type(even) {
  transform: translateX(-300%);
}

div.show {
  transform: translateX(0);
}